.card {
  box-sizing: border-box;
  width: 26.667%;
  margin: 0 auto;
  background-color: #1f1f1f;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 40px;
}

.card__avatar {
  border-radius: 50%;
  width: 88px;
}

.card__title {
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
}

.card__location {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: hsl(75, 94%, 57%);
}

.card__user-main-information {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card__bio {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

@media screen and (min-width: 572px) and (max-width: 1104px) {
  .card {
    width: 59.375%;
  }
}

@media screen and (max-width: 571px) {
  .card {
    padding: 24px;
    width: 87.2%;
  }
}
