.social-links {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.social-links__link {
  width: 100%;
}

.social-links__link-button {
  box-sizing: border-box;
  padding: 12px;
  border-radius: 8px;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  display: block;
  width: 100%;
  justify-self: center;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 700;
}

.social-links__link-button:hover {
  background-color: hsl(75, 94%, 57%);
  color: #333333;
}
